.p-Home.Flex58 {
display: flex;
height: auto;
align-items: center;
justify-content: center;
flex-direction: column;
align-content: center;
margin-top: ;
background-color: transparent;
margin-bottom: ;
padding-top: 160px;
padding-bottom: 160px;
}
.p-Home.Flex54 {
display: flex;
margin-top: 48px;
margin-bottom: 0px;
border-radius: ;
border-width: 1px;
border-style: solid;
border-color: #6868684d;
width: 80%;
margin-left: 0px;
padding-left: 0px;
padding-top: 0px;
padding-right: ;
padding-bottom: 0px;
margin-right: ;
align-items: center;
justify-content: center;
box-sizing: border-box;
overflow: hidden;
align-self: center;
align-content: flex-start;
}
.p-Home.Div53 {
width: 50%;
padding-top: ;
align-self: center;
padding-left: 40px;
padding-right: 40px;
}
.p-Home.Flex50 {
display: flex;
align-items: flex-end;
width: 150px;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
}
.p-Home.Flex166 {
display: flex;
margin-top: 48px;
margin-bottom: 0px;
border-radius: ;
border-width: 1px;
border-style: solid;
border-color: #6868684d;
width: 80%;
margin-left: 0px;
padding-left: 0px;
padding-top: 0px;
padding-right: ;
padding-bottom: 0px;
margin-right: ;
align-items: center;
justify-content: center;
box-sizing: border-box;
overflow: hidden;
align-self: center;
align-content: flex-start;
}
.p-Home.Div160 {
width: 50%;
padding-top: ;
align-self: center;
padding-left: 40px;
padding-right: 40px;
}
.p-Home.Flex165 {
display: flex;
align-items: flex-end;
width: 150px;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
}
.p-Home.Flex168 {
display: flex;
margin-top: 48px;
margin-bottom: 0px;
border-radius: ;
border-width: 1px;
border-style: solid;
border-color: #6868684d;
width: 80%;
margin-left: 0px;
padding-left: 0px;
padding-top: 0px;
padding-right: ;
padding-bottom: 0px;
margin-right: ;
align-items: center;
justify-content: center;
box-sizing: border-box;
overflow: hidden;
align-self: center;
align-content: flex-start;
}
.p-Home.Div161 {
width: 50%;
padding-top: ;
align-self: center;
padding-left: 40px;
padding-right: 40px;
}
.p-Home.Flex167 {
display: flex;
align-items: flex-end;
width: 150px;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
}
.p-Home.Flex170 {
display: flex;
margin-top: 48px;
margin-bottom: 0px;
border-radius: ;
border-width: 1px;
border-style: solid;
border-color: #6868684d;
width: 80%;
margin-left: 0px;
padding-left: 0px;
padding-top: 0px;
padding-right: ;
padding-bottom: 0px;
margin-right: ;
align-items: center;
justify-content: center;
box-sizing: border-box;
overflow: hidden;
align-self: center;
align-content: flex-start;
}
.p-Home.Div162 {
width: 50%;
padding-top: ;
align-self: center;
padding-left: 40px;
padding-right: 40px;
}
.p-Home.Flex169 {
display: flex;
align-items: center;
width: 150px;
border-bottom-width: 2px;
border-bottom-style: solid;
padding-bottom: 10px;
}
.p-Home.Flex65 {
display: flex;
align-items: center;
justify-content: center;
}
.p-Home.Flex59 {
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 100px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #6868684d;
width: 80%;
}
.p-Home.Div57 {
;
}
.p-Home.Flex83 {
display: flex;
height: auto;
align-items: center;
justify-content: center;
flex-direction: column;
align-content: center;
margin-top: ;
background-color: transparent;
margin-bottom: ;
padding-top: 160px;
padding-bottom: ;
position: relative;
}
.p-Home.Flex82 {
display: flex;
margin-top: ;
margin-bottom: 0px;
border-radius: ;
border-width: 1px;
border-style: solid;
border-color: transparent;
width: 80%;
margin-left: 0px;
padding-left: 0px;
padding-top: 0px;
padding-right: ;
padding-bottom: 160px;
margin-right: ;
align-items: center;
justify-content: center;
box-sizing: border-box;
overflow: hidden;
align-self: center;
align-content: flex-start;
position: static;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #6868684d;
}
.p-Home.Div73 {
width: 50%;
padding-top: ;
align-self: center;
padding-left: 20px;
}
.p-Home.Flex78 {
display: flex;
align-items: flex-end;
}
.p-Home.Flex85 {
display: flex;
border-color: ;
padding-left: 0px;
padding-right: 0px;
justify-content: center;
border-width: 1px;
border-style: none;
align-items: center;
margin-top: 160px;
}
.p-Home.Div76 {
width: 80%;
border-color: transparent;
}
.p-Home.Flex126 {
display: flex;
justify-content: space-between;
align-items: center;
}
.p-Home.Div120 {
display: block;
}
.p-Home.Flex127 {
display: flex;
align-items: center;
}
.p-Home.Flex87 {
display: none;
margin-top: 40px;
align-items: center;
justify-content: center;
padding-left: 10px;
}
.p-Home.Div78 {
width: 23%;
padding-left: 40px;
padding-right: 40px;
padding-top: 40px;
padding-bottom: ;
border-bottom-width: 2px;
border-bottom-style: solid;
margin-right: 48px;
border-bottom-color: transparent;
}
.p-Home.Flex88 {
display: flex;
flex-direction: column;
width: ;
height: ;
margin-right: ;
align-items: flex-start;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: ;
padding-bottom: 40px;
}
.p-Home.Div81 {
width: 23%;
padding-left: ;
padding-right: 40px;
padding-top: 40px;
padding-bottom: ;
border-bottom-width: 2px;
border-bottom-style: solid;
margin-right: 48px;
border-bottom-color: transparent;
}
.p-Home.Flex89 {
display: flex;
flex-direction: column;
width: ;
height: ;
align-items: flex-start;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #000000;
padding-bottom: 40px;
}
.p-Home.Div82 {
width: 23%;
padding-left: ;
padding-right: 40px;
padding-bottom: ;
padding-top: 40px;
margin-right: ;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: transparent;
}
.p-Home.Flex90 {
display: flex;
flex-direction: column;
width: ;
height: ;
align-items: flex-start;
padding-bottom: 40px;
border-bottom-width: 2px;
border-bottom-style: solid;
}
.p-Home.Flex104 {
display: flex;
height: auto;
align-items: center;
justify-content: center;
flex-direction: column;
align-content: center;
margin-top: ;
background-color: transparent;
margin-bottom: ;
}
.p-Home.Flex103 {
display: flex;
margin-top: 40px;
margin-bottom: ;
border-radius: ;
border-width: 1px;
border-style: solid;
border-color: transparent;
width: 80%;
margin-left: ;
padding-left: ;
padding-top: ;
padding-right: ;
padding-bottom: 160px;
margin-right: ;
align-items: center;
justify-content: center;
box-sizing: border-box;
overflow: hidden;
align-self: center;
align-content: flex-start;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #6868684d;
}
.p-Home.Div91 {
width: 50%;
padding-top: ;
align-self: center;
padding-left: ;
margin-right: 30px;
}
.p-Home.Flex106 {
display: flex;
margin-top: ;
margin-bottom: ;
border-radius: ;
border-width: 1px;
border-style: solid;
border-color: transparent;
width: 80%;
margin-left: ;
padding-left: ;
padding-top: ;
padding-right: ;
padding-bottom: 40px;
margin-right: ;
align-items: center;
justify-content: center;
box-sizing: border-box;
overflow: hidden;
align-self: center;
align-content: flex-start;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #6868684d;
}
.p-Home.Div92 {
width: 50%;
padding-top: ;
align-self: center;
padding-left: ;
padding-right: ;
margin-right: 30px;
}
.p-Home.Flex136 {
display: flex;
border-color: ;
padding-left: ;
padding-right: ;
justify-content: center;
border-width: 1px;
border-style: none;
align-items: center;
margin-top: ;
margin-bottom: 40px;
padding-top: ;
}
.p-Home.Div126 {
width: 80%;
border-color: transparent;
}
.p-Home.Flex135 {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 160px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #6868684d;
}
.p-Home.Div125 {
display: block;
}
.p-Home.Flex134 {
display: flex;
}
.p-Home.Flex137 {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: ;
padding-bottom: 160px;
margin-top: ;
border-bottom-color: #6868684d;
padding-top: 160px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Div127 {
width: 80%;
}
.p-Home.Flex138 {
display: flex;
width: ;
justify-content: space-between;
align-items: center;
padding-bottom: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-color: transparent;
}
.p-Home.Div129 {
width: 70%;
}
.p-Home.Flex139 {
display: flex;
align-items: center;
justify-content: center;
padding-top: 100px;
padding-bottom: ;
}
.p-Home.Div132 {
width: 80%;
}
.p-Home.Flex145 {
display: flex;
align-items: flex-start;
justify-content: center;
padding-bottom: ;
padding-left: ;
padding-right: ;
box-sizing: border-box;
}
.p-Home.Div139 {
width: 25%;
}
.p-Home.Flex141 {
display: flex;
flex-direction: column;
width: %;
}
.p-Home.Div136 {
padding-top: ;
padding-left: ;
padding-right: 5px;
padding-bottom: ;
font-family: IBM Plex Sans;
font-size: 18px;
color: #0d0d0d;
}
.p-Home.Div140 {
width: 36%;
margin-right: 40px;
}
.p-Home.Flex142 {
display: flex;
width: ;
margin-right: ;
flex-direction: column;
font-family: IBM Plex Sans;
font-size: 18px;
color: #0d0d0d;
}
.p-Home.Flex140 {
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Div133 {
padding-left: 5px;
padding-right: ;
}
.p-Home.Div134 {
padding-left: 5px;
padding-right: ;
margin-right: 29px;
}
.p-Home.Div135 {
padding-top: ;
padding-left: ;
padding-right: ;
padding-bottom: ;
margin-right: 29px;
}
.p-Home.Div141 {
width: 40%;
margin-right: 40px;
padding-bottom: ;
border-bottom-width: 1px;
border-bottom-style: none;
border-bottom-color: #283437;
}
.p-Home.Flex143 {
display: flex;
}
.p-Home.Div137 {
;
}
.p-Home.Div138 {
;
}
.p-Home.Flex144 {
display: flex;
}
.p-Home.Flex148 {
display: flex;
justify-content: center;
margin-top: ;
margin-bottom: ;
}
.p-Home.Div144 {
width: 80%;
padding-top: 32px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #6868684d;
margin-top: 100px;
padding-bottom: 10px;
}
.p-Home.Flex150 {
display: flex;
justify-content: space-between;
height: ;
padding-right: ;
padding-left: ;
margin-top: 50px;
align-items: center;
}
.p-Home.Div145 {
display: inline;
align-self: flex-end;
width: ;
}
.p-Home.Flex149 {
display: flex;
width: ;
}
.p-Home.Div146 {
height: 30px;
padding-left: ;
display: ;
align-self: center;
}
.p-Home.Flex151 {
display: flex;
justify-content: center;
}
.p-Home.Div147 {
width: 80%;
}
.p-Home.Flex152 {
display: flex;
align-items: center;
justify-content: flex-start;
align-content: center;
width: ;
padding-bottom: 160px;
padding-top: 160px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #6868684d;
padding-left: ;
flex-direction: row;
}
.p-Home.Div150 {
width: 70%;
}
.p-Home.Flex155 {
display: flex;
justify-content: center;
height: ;
align-items: center;
padding-top: 32px;
padding-bottom: 32px;
}
.p-Home.Div153 {
width: 80%;
}
.p-Home.Flex156 {
display: flex;
align-items: center;
justify-content: space-between;
align-content: space-around;
align-self: center;
width: ;
background-color: #ffffff;
flex-direction: row;
padding-top: ;
padding-bottom: ;
padding-left: ;
padding-right: ;
height: 30px;
overflow: visible;
box-sizing: border-box;
margin-bottom: ;
}
.p-Home.Div154 {
width: 50%;
align-self: center;
background-color: #ffffff;
clear: right;
}
.p-Home.Div155 {
width: 50%;
align-self: center;
display: contents;
}
.p-Home.Flex173 {
display: flex;
justify-content: flex-end;
flex-direction: row;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.Div167 {
display: inline-block;
}
.p-Home.Flex174 {
display: flex;
border-width: 1px;
border-style: solid;
border-color: #000000;
border-radius: 5px;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
align-items: center;
position: sticky;
background-clip: padding-box;
-webkit-background-clip: padding-box;
}
.p-Home.Flex186 {
display: flex;
justify-content: center;
margin-top: 40px;
}
.p-Home.Flex190 {
display: flex;
margin-top: ;
align-items: center;
justify-content: center;
padding-left: ;
width: 80%;
}
.p-Home.Div184 {
width: 30%;
padding-left: ;
padding-right: ;
padding-bottom: ;
padding-top: 40px;
margin-right: ;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: transparent;
}
.p-Home.Flex187 {
display: flex;
flex-direction: column;
width: ;
height: ;
align-items: flex-start;
padding-bottom: 40px;
border-bottom-width: 2px;
border-bottom-style: solid;
}
.p-Home.Div185 {
width: 30%;
padding-left: ;
padding-right: ;
padding-top: 40px;
padding-bottom: ;
border-bottom-width: 2px;
border-bottom-style: solid;
margin-right: 48px;
border-bottom-color: transparent;
}
.p-Home.Flex188 {
display: flex;
flex-direction: column;
width: ;
height: ;
align-items: flex-start;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #000000;
padding-bottom: 40px;
}
.p-Home.Div186 {
width: 30%;
padding-left: ;
padding-right: ;
padding-top: 40px;
padding-bottom: ;
border-bottom-width: 2px;
border-bottom-style: solid;
margin-right: 48px;
border-bottom-color: transparent;
}
.p-Home.Flex189 {
display: flex;
flex-direction: column;
width: ;
height: ;
margin-right: ;
align-items: flex-start;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: ;
padding-bottom: 40px;
}
.p-Home.Flex196 {
display: flex;
justify-content: space-around;
}
.p-Home.Flex200 {
display: flex;
margin-top: 50px;
align-items: center;
justify-content: center;
padding-bottom: 160px;
padding-left: ;
width: 80%;
}
.p-Home.Div191 {
width: 33%;
padding-left: ;
padding-right: ;
padding-top: 40px;
padding-bottom: ;
margin-right: 48px;
border-width: ;
border-style: none;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: transparent;
border-color: transparent;
}
.p-Home.Flex197 {
display: flex;
flex-direction: column;
width: ;
height: ;
margin-right: ;
align-items: flex-start;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: ;
padding-bottom: 40px;
}
.p-Home.Div192 {
width: 33%;
padding-left: ;
padding-right: ;
padding-top: 40px;
padding-bottom: ;
margin-right: 48px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: transparent;
}
.p-Home.Flex198 {
display: flex;
flex-direction: column;
width: ;
height: ;
align-items: flex-start;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #000000;
padding-bottom: 40px;
}
.p-Home.Div193 {
width: 33%;
padding-left: ;
padding-right: ;
padding-bottom: ;
padding-top: 40px;
margin-right: ;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: transparent;
}
.p-Home.Flex199 {
display: flex;
flex-direction: column;
width: ;
height: ;
align-items: flex-start;
padding-bottom: 40px;
border-bottom-width: 2px;
border-bottom-style: solid;
}
.p-Home.TextBox123 {
align-self: center;
text-align: center;
font-family: IBM Plex Sans;
font-size: 48px;
margin-top: ;
width: 80%;
font-weight: 500;
color: #000000;
}
.p-Home.Image56 {
width: 50%;
text-align: left;
margin-left: ;
}
.p-Home.TextBox107 {
font-family: IBM Plex Sans;
font-size: 18px;
color: #686868;
margin-bottom: 48px;
}
.p-Home.TextBox108 {
font-family: IBM Plex Sans;
font-size: 18px;
margin-bottom: 20px;
}
.p-Home.TextBox109 {
font-family: IBM Plex Sans;
font-size: 26px;
margin-top: ;
margin-bottom: 16px;
font-weight: 600;
}
.p-Home.TextBox103 {
margin-top: ;
font-family: IBM Plex Sans;
font-size: 20px;
width: ;
align-self: flex-start;
color: #000000;
font-weight: 700;
}
.p-Home.Image154 {
width: 20px;
height: 20px;
border-right-width: ;
margin-left: 10px;
}
.p-Home.Image147 {
width: 50%;
text-align: left;
margin-left: ;
}
.p-Home.TextBox304 {
font-family: IBM Plex Sans;
font-size: 26px;
margin-top: ;
margin-bottom: 16px;
font-weight: 600;
}
.p-Home.TextBox305 {
font-family: IBM Plex Sans;
font-size: 18px;
margin-bottom: 20px;
}
.p-Home.TextBox306 {
font-family: IBM Plex Sans;
font-size: 18px;
color: #686868;
margin-bottom: 48px;
}
.p-Home.TextBox303 {
margin-top: ;
font-family: IBM Plex Sans;
font-size: 20px;
width: ;
align-self: flex-start;
color: #000000;
font-weight: 700;
}
.p-Home.Image153 {
width: 20px;
height: 20px;
border-right-width: ;
margin-left: 10px;
}
.p-Home.Image149 {
width: 50%;
text-align: left;
margin-left: ;
}
.p-Home.TextBox308 {
font-family: IBM Plex Sans;
font-size: 26px;
margin-top: ;
margin-bottom: 16px;
font-weight: 600;
}
.p-Home.TextBox309 {
font-family: IBM Plex Sans;
font-size: 18px;
margin-bottom: 20px;
}
.p-Home.TextBox310 {
font-family: IBM Plex Sans;
font-size: 18px;
color: #686868;
margin-bottom: 48px;
}
.p-Home.TextBox307 {
margin-top: ;
font-family: IBM Plex Sans;
font-size: 20px;
width: ;
align-self: flex-start;
color: #000000;
font-weight: 700;
}
.p-Home.Image152 {
width: 20px;
height: 20px;
border-right-width: ;
margin-left: 10px;
}
.p-Home.Image151 {
width: 50%;
text-align: left;
margin-left: ;
}
.p-Home.TextBox312 {
font-family: IBM Plex Sans;
font-size: 26px;
margin-top: ;
margin-bottom: 16px;
font-weight: 600;
}
.p-Home.TextBox313 {
font-family: IBM Plex Sans;
font-size: 18px;
margin-bottom: 20px;
}
.p-Home.TextBox314 {
font-family: IBM Plex Sans;
font-size: 18px;
color: #686868;
margin-bottom: 48px;
}
.p-Home.Image150 {
width: 20px;
height: 20px;
border-right-width: ;
margin-left: 10px;
}
.p-Home.TextBox311 {
margin-top: ;
font-family: IBM Plex Sans;
font-size: 20px;
width: ;
align-self: flex-start;
color: #000000;
font-weight: 700;
}
.p-Home.Image60 {
width: 25px;
margin-left: 10px;
}
.p-Home.TextBox119 {
font-family: IBM Plex Sans;
font-size: 26px;
border-bottom-style: solid;
border-bottom-width: 3px;
font-weight: 600;
border-bottom-color: transparent;
}
.p-Home.Image112 {
margin-top: ;
position: absolute;
height: 150px;
z-index: 1;
margin-bottom: 850px;
margin-left: 65px;
}
.p-Home.Image77 {
width: 50%;
text-align: left;
margin-left: ;
}
.p-Home.TextBox153 {
font-family: IBM Plex Sans;
font-size: 48px;
margin-top: ;
margin-bottom: 16px;
color: #0d0d0d;
font-weight: 500;
}
.p-Home.TextBox155 {
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 400;
color: #686868;
}
.p-Home.Image73 {
width: 25px;
height: 30px;
border-right-width: ;
margin-left: 10px;
}
.p-Home.TextBox143 {
margin-top: 40px;
font-family: IBM Plex Sans;
font-size: 24px;
width: ;
align-self: flex-start;
color: #0d0d0d;
font-weight: 700;
}
.p-Home.TextBox236 {
font-family: IBM Plex Sans;
font-size: 48px;
font-weight: 500;
color: #0d0d0d;
}
.p-Home.TextBox238 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Image114 {
height: 25px;
padding-left: ;
margin-left: 10px;
}
.p-Home.Image81 {
height: 100px;
padding-bottom: ;
margin-bottom: 20px;
}
.p-Home.TextBox160 {
font-family: IBM Plex Sans;
font-size: 26px;
font-weight: 600;
margin-bottom: 16px;
color: #0d0d0d;
}
.p-Home.TextBox172 {
color: #686868;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
}
.p-Home.TextBox161 {
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-size: 26px;
font-weight: 600;
color: #0d0d0d;
}
.p-Home.Image82 {
height: 100px;
margin-bottom: 20px;
}
.p-Home.TextBox164 {
color: #686868;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
}
.p-Home.TextBox162 {
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-size: 26px;
font-weight: 600;
color: #0d0d0d;
}
.p-Home.Image83 {
height: 100px;
margin-bottom: 20px;
}
.p-Home.TextBox173 {
color: #686868;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
}
.p-Home.Image92 {
width: 50%;
text-align: left;
margin-left: ;
}
.p-Home.TextBox184 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
color: #686868;
}
.p-Home.TextBox185 {
font-family: IBM Plex Sans;
font-size: 26px;
margin-top: 18px;
margin-bottom: ;
font-weight: 600;
color: #0d0d0d;
}
.p-Home.Image94 {
width: 50%;
text-align: left;
margin-left: ;
}
.p-Home.TextBox187 {
font-family: IBM Plex Sans;
font-size: 26px;
margin-top: 18px;
margin-bottom: ;
font-weight: 600;
color: #0d0d0d;
}
.p-Home.TextBox188 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
color: #686868;
}
.p-Home.TextBox244 {
font-family: IBM Plex Sans;
font-size: 48px;
font-weight: 500;
color: #0d0d0d;
}
.p-Home.Image117 {
height: 25px;
}
.p-Home.TextBox243 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Image119 {
height: 150px;
font-size: ;
font-family: ;
}
.p-Home.TextBox190 {
font-family: IBM Plex Sans;
font-size: 48px;
padding-left: ;
margin-bottom: 16px;
width: ;
font-weight: 500;
}
.p-Home.TextBox191 {
padding-left: ;
padding-right: 50px;
margin-top: 24px;
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 500;
color: #686868;
}
.p-Home.Div98 {
width: 20%;
height: 10px;
box-sizing: border-box;
border-top-width: 4px;
border-top-style: solid;
border-top-color: #000000;
margin-left: 0px;
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
margin-top: ;
}
.p-Home.TextBox270 {
margin-bottom: 26px;
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 500;
color: #0d0d0d;
}
.p-Home.TextBox262 {
border-bottom-width: 2px;
border-bottom-style: solid;
width: 140px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox263 {
margin-bottom: 15px;
}
.p-Home.TextBox264 {
margin-bottom: 15px;
}
.p-Home.TextBox265 {
margin-bottom: 15px;
}
.p-Home.TextBox266 {
margin-bottom: 15px;
}
.p-Home.TextBox267 {
margin-bottom: 15px;
}
.p-Home.TextBox268 {
margin-bottom: 15px;
}
.p-Home.TextBox271 {
margin-bottom: 26px;
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 500;
color: #0d0d0d;
}
.p-Home.TextBox245 {
margin-bottom: 15px;
}
.p-Home.TextBox246 {
margin-bottom: 15px;
}
.p-Home.TextBox247 {
;
}
.p-Home.TextBox248 {
margin-bottom: 15px;
}
.p-Home.TextBox249 {
margin-bottom: 15px;
}
.p-Home.TextBox250 {
margin-bottom: 15px;
}
.p-Home.TextBox251 {
margin-bottom: 15px;
}
.p-Home.TextBox252 {
margin-bottom: 15px;
}
.p-Home.TextBox253 {
;
}
.p-Home.TextBox254 {
margin-bottom: 15px;
}
.p-Home.TextBox255 {
margin-bottom: 15px;
}
.p-Home.TextBox256 {
margin-bottom: 15px;
margin-right: ;
}
.p-Home.TextBox257 {
margin-bottom: 15px;
margin-right: ;
}
.p-Home.TextBox258 {
margin-bottom: ;
}
.p-Home.TextBox259 {
margin-bottom: 15px;
margin-right: ;
}
.p-Home.TextBox260 {
margin-bottom: 15px;
margin-right: ;
}
.p-Home.TextBox261 {
margin-bottom: 15px;
font-family: IBM Plex Sans;
font-size: 18px;
color: #0d0d0d;
margin-right: ;
}
.p-Home.TextBox272 {
height: 50px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #686868;
margin-bottom: 31px;
font-family: IBM Plex Sans;
font-size: 18px;
color: #686868;
width: ;
font-weight: 500;
padding-top: 18px;
padding-bottom: 35px;
margin-top: 48px;
}
.p-Home.TextBox273 {
margin-bottom: ;
font-family: IBM Plex Sans;
font-size: 18px;
color: #686868;
width: ;
font-weight: 500;
}
.p-Home.Image120 {
height: 20px;
margin-left: 10px;
}
.p-Home.TextBox269 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
color: #0d0d0d;
}
.p-Home.Image121 {
margin-bottom: 20px;
}
.p-Home.TextBox278 {
font-family: IBM Plex Sans;
font-size: 18px;
color: #6e6565;
}
.p-Home.TextBox279 {
border-bottom-width: 1px;
border-bottom-style: solid;
font-family: IBM Plex Sans;
font-size: 18px;
cursor: pointer;
padding-left: 3px;
}
.p-Home.TextBox280 {
font-family: IBM Plex Sans;
font-size: 18px;
color: #807272;
}
.p-Home.TextBox281 {
font-family: IBM Plex Sans;
font-size: 18px;
cursor: pointer;
padding-left: 3px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Image129 {
height: 25px;
padding-right: 15px;
}
.p-Home.Image130 {
height: 25px;
margin-right: 15px;
}
.p-Home.Image131 {
height: 25px;
margin-right: 15px;
}
.p-Home.Image132 {
height: 23px;
margin-right: 15px;
}
.p-Home.Image133 {
height: 27px;
margin-right: 15px;
align-self: auto;
}
.p-Home.Image134 {
height: 25px;
margin-right: 15px;
}
.p-Home.Image135 {
height: 25px;
}
.p-Home.Div148 {
width: 40%;
height: 10px;
box-sizing: border-box;
border-top-width: 4px;
border-top-style: solid;
border-top-color: #000000;
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
}
.p-Home.TextBox282 {
font-family: IBM Plex Sans;
font-size: 22px;
margin-top: 30px;
height: ;
color: #686868;
font-weight: 400;
}
.p-Home.TextBox283 {
font-family: IBM Plex Sans;
font-size: 60px;
border-bottom-width: ;
border-bottom-style: none;
border-bottom-color: ;
font-weight: 500;
color: #0d0d0d;
}
.p-Home.Image136 {
max-width: 100%;
align-self: center;
}
.p-Home.TextBox284 {
width: ;
height: 20px;
margin-top: 0px;
padding-top: 0px;
padding-left: 0px;
margin-right: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
margin-left: 60px;
float: left;
align-self: center;
color: #0d0d0d;
}
.p-Home.TextBox285 {
width: ;
height: 20px;
margin-top: 0px;
padding-top: 0px;
padding-left: 0px;
margin-right: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
float: left;
align-self: center;
color: #0d0d0d;
}
.p-Home.TextBox286 {
width: ;
height: 20px;
margin-top: 0px;
padding-top: 0px;
padding-left: 0px;
margin-right: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
float: left;
align-self: center;
color: #0d0d0d;
}
.p-Home.Dropdown10 {
align-self: center;
position: relative;
font-family: IBM Plex Sans;
font-size: 18px;
outline-width: 0px;
outline-color: transparent;
border-color: transparent;
padding-right: ;
font-weight: 400;
color: #0d0d0d;
}
.p-Home.Image137 {
align-self: auto;
margin-left: 20px;
padding-left: ;
color: #0d0d0d;
}
.p-Home.Image158 {
width: 20px;
}
.p-Home.TextBox319 {
font-family: IBM Plex Sans;
font-size: 10px;
font-weight: 500;
border-width: 1px;
border-style: solid;
border-color: transparent;
border-radius: 5px;
padding-bottom: ;
padding-left: 5px;
padding-top: ;
padding-right: ;
}
.p-Home.TextBox383 {
color: #686868;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
}
.p-Home.Image166 {
height: 120px;
margin-bottom: 20px;
}
.p-Home.TextBox384 {
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-size: 26px;
font-weight: 600;
color: #0d0d0d;
}
.p-Home.TextBox385 {
color: #686868;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
}
.p-Home.Image167 {
height: 120px;
margin-bottom: 20px;
}
.p-Home.TextBox386 {
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-size: 26px;
font-weight: 600;
color: #0d0d0d;
}
.p-Home.TextBox387 {
color: #686868;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
}
.p-Home.TextBox388 {
font-family: IBM Plex Sans;
font-size: 26px;
font-weight: 600;
margin-bottom: 16px;
color: #0d0d0d;
}
.p-Home.Image168 {
height: 120px;
padding-bottom: ;
margin-bottom: 20px;
}
.p-Home.Image172 {
height: 120px;
padding-bottom: ;
margin-bottom: 20px;
}
.p-Home.TextBox395 {
font-family: IBM Plex Sans;
font-size: 26px;
font-weight: 600;
margin-bottom: 16px;
color: #0d0d0d;
}
.p-Home.TextBox396 {
color: #686868;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
}
.p-Home.TextBox397 {
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-size: 26px;
font-weight: 600;
color: #0d0d0d;
}
.p-Home.Image173 {
height: 120px;
margin-bottom: 20px;
}
.p-Home.TextBox398 {
color: #686868;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
}
.p-Home.TextBox399 {
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-size: 26px;
font-weight: 600;
color: #0d0d0d;
}
.p-Home.Image174 {
height: 120px;
margin-bottom: 20px;
}
.p-Home.TextBox400 {
color: #686868;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
}
@media screen and (max-width: 991px) {	.p-Home.Flex54 {flex-direction: column-reverse;
width: 90%;
}
	.p-Home.Div53 {width: 90%;
padding-top: 46px;
padding-bottom: 54px;
}
	.p-Home.Flex166 {flex-direction: column-reverse;
width: 90%;
}
	.p-Home.Div160 {width: 90%;
padding-top: 46px;
padding-bottom: 54px;
}
	.p-Home.Flex168 {width: 90%;
flex-direction: column-reverse;
}
	.p-Home.Div161 {width: 90%;
padding-top: 46px;
padding-bottom: 54px;
}
	.p-Home.Flex170 {width: 90%;
flex-direction: column-reverse;
}
	.p-Home.Div162 {padding-top: 46px;
width: 90%;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 54px;
}
	.p-Home.Flex82 {width: 90%;
}
	.p-Home.Div76 {width: 90%;
}
	.p-Home.Div78 {width: 25%;
}
	.p-Home.Div81 {width: 25%;
}
	.p-Home.Div82 {width: 25%;
}
	.p-Home.Div150 {width: 100%;
}
	.p-Home.Flex156 {width: 100%;
background-color: #ffffff;
}
	.p-Home.Div154 {background-color: #ffffff;
}
	.p-Home.Div184 {width: 25%;
}
	.p-Home.Div185 {width: 25%;
}
	.p-Home.Div186 {width: 25%;
}
	.p-Home.Flex200 {margin-bottom: 100px;
}
	.p-Home.Image56 {width: 100%;
}
	.p-Home.Image147 {width: 100%;
}
	.p-Home.Image149 {width: 100%;
}
	.p-Home.Image151 {width: 100%;
}
	.p-Home.TextBox284 {align-self: center;
}
	.p-Home.TextBox285 {align-self: center;
}
	.p-Home.TextBox286 {align-self: center;
}
	.p-Home.Dropdown10 {align-self: center;
}
	.p-Home.Image137 {align-self: center;
}
}